<div class="lost">
  <h3>Lost</h3>
  <form>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <input type="text" class="form-control" placeholder="First name">
      </div>
      <div class="col-md-6 col-sm-12">
        <input type="text" class="form-control" placeholder="Last name">
      </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
          <input type="text" class="form-control" placeholder="First name">
        </div>
        <div class="col-md-6 col-sm-12">
          <input type="text" class="form-control" placeholder="Last name">
        </div>
      </div>
  </form>
</div>