

.btns{
    width: 80%;
    margin: 20px auto;
    text-align: center;


button{
    
    width: 90%;
    height: 90%;
    margin: 10px 10px;
    border-radius: 14px;
}
    
}
.section-btns{
    height: 370px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    padding: 140px 0 0 0;
      
}

.section-works{
    height: 200px;
    background: black;
    padding: 30px;
    color: white;
    text-align: justify;

    h3{
        text-align: center;
    }
    p{  
        font-size: 14px;
        font-style: italic;
        font-weight: 400;
        text-transform: capitalize;
        font-family: sans-serif;
    }
}
.submit{
    margin: 5px 0;
    border-radius: 14px;
}

input{
    margin: 0;
}
label{
    font-weight: 600;
    margin: 5px 0 0 0;
    
}
small{
    margin: 0;
}

input.ng-invalid.ng-touched{
    border: 1px solid red;
}

textarea.ng-invalid.ng-touched{
    border: 1px solid red;
} 
